/* color palette from <https://github.com/vuejs/theme> */
:root {
  --clr-blue: hsl(220, 98%, 61%);

  /* light vars */
  --bg-mobile-light: url('/images/bg-mobile-light.jpg');
  --bg-desktop-light: url('/images/bg-desktop-light.jpg');
  --clr-gray-400: #484b6a;
  --clr-gray-300: #9393a5;
  --clr-gray-200: #d2d3db;
  --clr-gray-100: #e4e5f1;
  --clr-gray-50: #fafafa;

  /* dark vars */
  --bg-mobile-dark: url('/images/bg-mobile-dark.jpg');
  --bg-desktop-dark: url('/images/bg-desktop-dark.jpg');
  --clr-blue-900: #161722;
  --clr-blue-800: #25273c;
  --clr-blue-700: #393a4c;
  --clr-blue-600: #4d5066;
  --clr-blue-500: #777a92;
  --clr-blue-200: #cacde8;
  --clr-blue-100: #e4e5f1;

  /* light theme */
  --bg-mobile: var(--bg-mobile-light);
  --bg-desktop: var(--bg-desktop-light);
  --color-background: var(--clr-gray-50);
  --color-todo-background: white;
  --color-text: var(--clr-gray-400);
  --color-text-hover: var(--clr-gray-400);
  --color-strikethrough: var(--clr-gray-200);
  --color-border: #e3e4f1;
  --color-delete: var(--clr-gray-400);

  --color-filter-text: #9495a5;
  --color-filter-hover: #494c6b;
}
/* dark theme */
[data-theme='dark'] {
  --bg-mobile: var(--bg-mobile-dark);
  --bg-desktop: var(--bg-desktop-dark);
  --color-background: var(--clr-blue-900);
  --color-todo-background: var(--clr-blue-800);
  --color-text: var(--clr-blue-200);
  --color-strikethrough: var(--clr-blue-600);
  --color-border: var(--clr-blue-700);
  --color-delete: #707394;

  --color-filter-text: #5b5e7e;
  --color-filter-hover: var(--clr-gray-100);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  color: var(--color-text);
  background-color: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-size: 18px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  font-family: 'Josefin Sans', sans-serif;
}